<h2 class="mt-8 text-2xl font-extrabold">Recent</h2>
{{#each (blogs site.pages)}}
    <article>
        <h3 class="flex items-center mt-6 text-xl font-semibold">
            <a class="decoration-primary-500 hover:underline hover:underline-offset-2 text-neutral-800 dark:text-neutral"
                href="{{ this.uri }}">{{ page.head.title }}</a>
        </h3>
        <div class="text-sm text-neutral-500 dark:text-neutral-400">
            {{#if page.head.date}}
                <time datetime="{{ page.head.date }}">
                 {{ date_format "%B %e, %Y" page.head.date }}
                </time>
            {{/if}}
            <span class="px-2 text-primary-500">&middot;</span>
        </div>
        <div class="py-1 prose dark:prose-invert">
         {{#if page.head.description}}
            {{ page.head.description }}
         {{/if}}
        </div>
    </article>
{{/each}}
